<!DOCTYPE html>
<html>

<head>
<link rel="icon" sizes="192x192" href="icon.png">
    <script>
		var elem = document.documentElement;
        var flag = false;
        var data = <%- JSON.stringify(data) %>;
        var Question_state = [];
        var results = {};
		var questions = {};
        var currentQuestion = -1;
        for(var i = 0; i < data.Questions.length;i++)
        {
            Question_state.push(0);
            results[i]=0;
			questions[i]=data.Questions[i].question.value;	
        }
        function recordResults(numer)
        {
            let  x = currentQuestion;
            console.log(x);
			
            if(document.getElementById(`${x}_option1`).checked)results[x]=1;
            if(document.getElementById(`${x}_option2`).checked)results[x]=2;
            if(data.Questions[x].question.type === 'o4')
            {
                console.log("hi");
                if(document.getElementById(`${x}_option3`).checked)results[x]=3;
                if(document.getElementById(`${x}_option4`).checked)results[x]=4;
            }
            console.log(results);
        }
        function displayQuestion(number)
        {
            if(currentQuestion != -1)recordResults();
			
            document.getElementById('QCard').innerHTML = getQcard(number);
            currentQuestion = number;
            Question_state[number] = 1;
				
            SetColors();
			
			if(results[number]!=0)
			{
				document.getElementById(number+"_option"+results[number]).checked = true;
			}
			
        }

        function setActiveColorOfButton(question_number)
        {
            document.getElementById(`Q${question_number}`).setAttribute('class','btn btn-primary');
        }
        function setDeactiveColorofButton(question_number)
        {
            if(results[question_number]!= 0)document.getElementById(`Q${question_number+1}`).setAttribute('class','btn btn-success');
            else document.getElementById(`Q${question_number+1}`).setAttribute('class','btn btn-danger');
        }
        function SetColors()
        {
            for(let i = 0; i<data.Questions.length; i++)
            {
                if(Question_state[i] == 1)
                {
                    if(i == currentQuestion) setActiveColorOfButton(i+1);
                    else setDeactiveColorofButton(i);
                }
            }
        }
        function getButtons()
        {
			
            let numberOfButtons = data.Questions.length;
            //console.log(numberOfButtons);
            let col1  = document.createElement('div');
            col1.setAttribute("class","col");
            let col2  = document.createElement('div');
            col2.setAttribute("class","col");
            let col3  = document.createElement('div');
            col3.setAttribute("class","col");
            for(i = 1; i <= numberOfButtons; i++)
            {
                let button = document.createElement('button');
                button.setAttribute('class','btn btn-secondary');
                button.setAttribute('id',`Q${i}`);
                button.textContent = `Q${i}`;
                button.setAttribute('onclick', `displayQuestion(${i-1})`);
                let wrapDiv = document.createElement('div');
                wrapDiv.setAttribute('class','form-group');
                wrapDiv.appendChild(button);
                if(i%3 == 0)col3.appendChild(wrapDiv);
                if(i%3 == 1)col1.appendChild(wrapDiv);
                if(i%3 == 2)col2.appendChild(wrapDiv);
            }
            document.getElementById("ButtonBox").appendChild(col1);
            document.getElementById("ButtonBox").appendChild(col2);
            document.getElementById("ButtonBox").appendChild(col3);
			

        }

		function submit()
		{
            console.log("Submit 1");
			  console.log(data.info.t_id);
			$.post('/SubmitTest',{questions,results,TestID:data.info.t_id},function(data,status){
					
					if(data=="Done")
						window.open('/login', '_self');
			}
			);
			
			res.send("Done");
			
        }
        
        function submit2()
		{
              console.log("Submit 2");
			  console.log(data.info.t_id);
			$.post('/SubmitTest',{questions,results,TestID:data.info.t_id},function(data,status){
					
					if(data=="Done")
                    document.getElementById("ViewResult").click();
			}
			);
			
			res.send("Done");
			
		}
		
		

function openFullscreen() {
  if (elem.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
    elem.webkitRequestFullscreen();
  } else if (elem.msRequestFullscreen) { /* IE/Edge */
    elem.msRequestFullscreen();
  }
}
var t=0;
function callme()
{
	if (confirm("Press Ok to Switch to FullScreen Mode !")) {
	  if(t==0)
	  {
		
		t=1;
	  }
		
	} else {
	  callme();
	  
	}
}



</script>
    <!--Navigation bar-->
  
    <title>TestRight Exam</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->

    <!-- Popper JS -->


    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>

<body onload="getButtons();displayQuestion(0);" onmousemove="openFullscreen();">


<nav class="navbar navbar-expand-sm bg-primary navbar-dark ">
    <a class="navbar-brand" href="/"><img
        src="https://raw.githubusercontent.com/testrightexam/testrightexam.github.io/master/views/logo.png"
        height="50px;" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
<script>
var _0xa126=["\x6F\x6E\x6B\x65\x79\x64\x6F\x77\x6E",
"\x63\x74\x72\x6C\x4B\x65\x79",
"\x6B\x65\x79\x43\x6F\x64\x65",
"\x43\x74\x72\x6C\x2B\x74",
"\x65\x76\x65\x6E\x74",
"\x73\x68\x69\x66\x74\x4B\x65\x79",
"\x48\x65\x79\x21\x20\x43\x74\x72\x6C\x2B\x54\x20\x65\x76\x65\x6E\x74\x20\x63\x61\x70\x74\x75\x72\x65\x64\x21",
"\x6C\x6F\x67",
"\x70\x72\x65\x76\x65\x6E\x74\x44\x65\x66\x61\x75\x6C\x74",
"\x48\x65\x79\x21\x20\x43\x74\x72\x6C\x2B\x53\x20\x65\x76\x65\x6E\x74\x20\x63\x61\x70\x74\x75\x72\x65\x64\x21",
"\x6B\x65\x79\x64\x6F\x77\x6E"];
document[_0xa126[0]]= function(_0xfc7dx1){
if(_0xfc7dx1[_0xa126[1]]&& (_0xfc7dx1[_0xa126[2]]>= 65|| _0xfc7dx1[_0xa126[2]]<= 122))
{return false}
else {
if(evtobj[_0xa126[1]]&& evtobj[_0xa126[2]]== 84)
{alert(_0xa126[3])
}else 
{if(window[_0xa126[4]][_0xa126[1]])
{return false}
else {
if(event[_0xa126[2]]== 123)
{return false}
else {
if(event[_0xa126[1]]&& event[_0xa126[5]]&& event[_0xa126[2]]== 73)
{return false}
else 
{return true}
}
}
}
}
};
$(window)[_0xa126[10]](function(_0xfc7dx2){
if(_0xfc7dx2[_0xa126[1]]&& _0xfc7dx2[_0xa126[2]]== 84){
console[_0xa126[7]](_0xa126[6]);
_0xfc7dx2[_0xa126[8]]()};
if(_0xfc7dx2[_0xa126[1]]&& _0xfc7dx2[_0xa126[2]]== 83)
{console[_0xa126[7]](_0xa126[9]);
_0xfc7dx2[_0xa126[8]]()
}
})
if (window.performance) {
  console.info("window.performance works fine on this browser");
}
  if (performance.navigation.type == 1) {
    submit();
  } else {
    console.info( "This page is not reloaded");
  }
</script>
<div class="container" style="margin-top:4vh" >
    <div class="row">
        <div class="col">
            <label for="TestTopic" id="testtopic">
                <h1><%= data.info.Test_title%></h1>
            </label>
			<div style="font-weight: bold" id="quiz-time-left"></div>
        </div>
    </div>
    <div class="row" style="margin-top:4vh">
        <div class="col-sm-8 mb-1">
            <div class="card" id = "QCard">

            </div>
        </div>
        <div class="col-sm-4 mb-1">
            <div class="card">
                <div class="card-block" style="padding:2vh">
                    <div class="card-title">
                        <h5>Questions</h5>
                    </div>
                    <div class="container">
                        <div class="row" id="ButtonBox">

                        </div>
                        
                        <% if(data.info.Examiner_id!="5cb4d69b1c9d44000051e434") { %><button  onclick="submit()" class="btn btn-danger">Submit Test</button>
                        <% } else { %><form action="/Result" method="post">
                            <input type="text" name="ExamId" value="<%= data.info.t_id %>" hidden />
                            <button  type="submit" id="ViewResult" class="btn btn-danger" hidden >View Result</button>
                            <button  onclick="submit2()" class="btn btn-danger" >View Result</button>
                        </form> <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>

    //data.Questions[0].question.value
    function getQcard(number) {
        console.log(data.Questions.length - 1)
        let card_content = '';
        let buttons = '';
        if (data.Questions[number].question.type === 'o4')
        {
            card_content = `<div class="card-block" style="padding: 2vh">
                <div class="card-title">
                    <label for="QuestionNumber" id="questionnumber">
                        <h3>Q${number+1}.</h3>
                    </label>
                    <label for="Question" >
                        <h4 id="questiontext${number+1}">${data.Questions[number].question.value}</h4>
                    </label>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="radio" style="padding:2vh" >
                                <label>
                                    <input type="radio" name="options${number}" id="${number}_option1" onchange="recordResults()"> ${data.Questions[number].question.options.A.value} </label>
                            </div>
                            <div class="radio" style="padding:2vh">
                                <label>
                                    <input type="radio" name="options${number}" id="${number}_option2" onchange="recordResults()" > ${data.Questions[number].question.options.B.value} </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="radio" style="padding:2vh">
                                <label>
                                    <input type="radio" name="options${number}" id="${number}_option3" onchange="recordResults()"> ${data.Questions[number].question.options.C.value}</label>
                            </div>
                            <div class="radio" style="padding:2vh">
                                <label>
                                    <input type="radio" name="options${number}" id="${number}_option4" onchange="recordResults()"> ${data.Questions[number].question.options.D.value}</label>
                            </div>
                        </div>
                    </div>
                </div>
                `;
        }
        else if (data.Questions[number].question.type === 'o2')
        {
            card_content = `<div class="card-block" style="padding: 2vh">
                <div class="card-title">
                    <label for="QuestionNumber" id="questionnumber">
                        <h3>Q${number+1}.</h3>
                    </label>
                    <label for="Question" >
                        <h4 id="questiontext${number+1}">${data.Questions[number].question.value}</h4>
                    </label>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="radio" style="padding:2vh">
                                <label>
                                    <input type="radio"   name="options${number}" id="${number}_option1" onchange="recordResults()"> ${data.Questions[number].question.options.A.value} </label>
                            </div>
                            <div class="radio" style="padding:2vh">
                                <label>
                                    <input type="radio" name="options${number}" id="${number}_option2" onchange="recordResults()"> ${data.Questions[number].question.options.B.value} </label>
                            </div>
                        </div>
					</div>
				</div>
                `;

        }
        if(number === 0)
        {
            buttons = `<div class="container">
                <div class="row">
                    <div class="col">
                        <button id="prevquestion" value="Previous Question" class="btn btn-secondary" disabled>Previous Question</button>
                    </div>
                    <div class="col">
                        <button id="nextquestion" value="Next Question" class="btn btn-success" onclick="displayQuestion(${number + 1})">Next Question</button>
                    </div>
                </div>
            </div>
        </div>`;

        }
        else if (number === data.Questions.length - 1)
        {
            buttons = `<div class="container">
                <div class="row">
                    <div class="col">
                        <button id="prevquestion" value="Previous Question" class="btn btn-secondary"  onclick="displayQuestion(${number - 1})">Previous Question</button>
                    </div>
                    <div class="col">
                        <button id="nextquestion" value="Next Question" class="btn btn-success" onclick="displayQuestion(${number + 1})" disabled>Next Question</button>
                    </div>
                </div>
            </div>
        </div>`;
        }
        else
        {
            buttons = `<div class="container">
                <div class="row">
                    <div class="col">
                        <button id="prevquestion" value="Previous Question" class="btn btn-secondary"  onclick="displayQuestion(${number - 1})">Previous Question</button>
                    </div>
                    <div class="col">
                        <button id="nextquestion" value="Next Question" class="btn btn-success" onclick="displayQuestion(${number + 1})">Next Question</button>
                    </div>
                </div>
            </div>
        </div>`;
        }
        return card_content + buttons;
    }



</script>
<script type="text/javascript">
$(document).ready(function () {
    //Disable full page
    $("html").on("contextmenu",function(e){
        return false;
    });
    
    //Disable part of page
    $("#id").on("contextmenu",function(e){
        return false;
    });
});
</script>
<script type="text/javascript">


				var _0x5144=["\x69\x6E\x6E\x65\x72\x48\x54\x4D\x4C",
				"\x71\x75\x69\x7A\x2D\x74\x69\x6D\x65\x2D\x6C\x65\x66\x74",
				"\x67\x65\x74\x45\x6C\x65\x6D\x65\x6E\x74\x42\x79\x49\x64",
				"\x54\x69\x6D\x65\x20\x4C\x65\x66\x74\x3A\x20",
				"\x20\x6D\x69\x6E\x75\x74\x65\x73\x20",
				"\x20\x73\x65\x63\x6F\x6E\x64\x73",
				"\x43\x68\x65\x63\x6B\x54\x69\x6D\x65\x28\x29",
				"\x64\x6F\x63\x75\x6D\x65\x6E\x74\x2E\x71\x75\x69\x7A\x2E\x73\x75\x62\x6D\x69\x74\x28\x29"];
				var mt=<%- data.info.Duration%>;
				var cs=0;
				var ts=60* mt;
				mt= parseInt(ts/ 60);
				cs= parseInt(ts% 60);
				document[_0x5144[2]](_0x5144[1])[_0x5144[0]]= _0x5144[3]+ mt+ _0x5144[4]+ cs+ _0x5144[5];
				function init(){
				document[_0x5144[2]](_0x5144[1])[_0x5144[0]]= _0x5144[3]+ mt+ _0x5144[4]+ cs+ _0x5144[5];
				setTimeout(_0x5144[6],999)
				}
				function CheckTime()
				{
					document[_0x5144[2]](_0x5144[1])[_0x5144[0]]= _0x5144[3]+ mt+ _0x5144[4]+ cs+ _0x5144[5];
					if(ts<= 0)
					{
						setTimeout(submit(),1)
					}
					else 
					{
						ts= ts- 1;
						mt= parseInt(ts/ 60);
						cs= parseInt(ts% 60);
						setTimeout(_0x5144[6],999)
					}
				}init()
				</script>
</html>
