<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
<!--Orignal-->
	<link rel="icon" sizes="192x192" href="icon.png">
    <meta http-equiv="Content-Type" content="text/html, charset=utf-8" />
	<meta name="viewport"  content=" width=device-width initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<link rel="manifest" href="manifest.json">
    <meta name="mobile-web-app-capable" content="yes">

    <title>Home Page</title>
    <meta name="author" content="TestRight" />
    <meta name="Resource-type" content="Document" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="homepage/fullpage.js"></script>
	<script type="text/javascript" src="homepage/examples.js"></script>
	<link rel="stylesheet" type="text/css" href="homepage/fullpage.css" />
    <link rel="stylesheet" type="text/css" href="homepage/examples.css" />
    <script type="text/javascript">
        $(document).ready(function(){
            $('#fullpage').fullpage({
                sectionsColor: ['white', 'fafafa'],
                navigation: true,
                slidesNavigation: true,
            });
            $('#moveSectionUp').click(function(e){
                e.preventDefault();
                $.fn.fullpage.moveSectionUp();
            });

            $('#moveSectionDown').click(function(e){
                e.preventDefault();
                $.fn.fullpage.moveSectionDown();
            });
        });
    </script>
<!--Orignal-->
<!--From Our Template-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!--Custom css -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	
        <link rel="stylesheet" href="assets/css/style.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!--Font awesome icons-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
        <!--Roboto Font-->
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		
<!--From Our Template-->
<style>
    
#actions
{
        position:relative;
		z-index:1000 !important;
    }
.imgone
{
	 margin-top:-400px;
	 height:35vh;
	 width:48vw;
}
.imgtwo
{
	
}

.divtexttwo
{
	margin-top: 15px;
	font-size:9.5px;
	text-align:justify;
	font-family: 'East Sea Dokdo', cursive; 

}
.divtextone
{
	font-family: 'East Sea Dokdo', cursive; font-size:20px;
	margin-bottom:-200px;
	font-size:20px; 
	width: 95vw;
	text-align: justify;
}
.twoorig
{
	display:block;
}
.divtexttwohead
{


font-family: 'East Sea Dokdo', cursive; 
font-size:20px;


}
.divtexttwohead h3
{
	margin-top:150px;
	color:white;
}
.twoalt
{
	display:none;
}
.reviews .mains
{
	font-family: 'East Sea Dokdo', cursive;
	font-size: 20px;
	margin-top : -200px;
	color:coral
}
.reviews .name
{
	font-family: 'East Sea Dokdo', cursive;
	font-size: 15px;
	margin-bottom: 10px;
}
.reviews .pos
{
	font-size: 10px;
	margin-top: -10px;
	margin-bottom:80px;
}
.reviews img
{
	font-family: 'East Sea Dokdo', cursive;
	margin-bottom: 10px;
}
.thirdfooter{
	font-family: 'East Sea Dokdo', cursive;
	font-size: 9px;
}
.thirdfooter h4
{
	color:white;
	
}
.bottom-bar {
    background:#000;
	
  }
#usersalt
{
	display: none;
}

.footerstick
{
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: 'Catamaran', sans-serif;
	font-size: 18px;
	color:white;
}
.section1 .fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background:transparent;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.footeralt
{
	display:none;
}
@media screen and (max-width:450px)
{
#altre
{
	display: none;
}
#usersalt
{
	display: block;
}
.reviews .mains
{
	margin-top:-200px;
	font-size: 16px;
	color:coral;
	text-align:justify;
	margin-bottom: 10px; 
	font-family: 'East Sea Dokdo';
}
.reviews .name
{
	font-size: 15px;
	font-family: 'East Sea Dokdo';
}
.reviews .pos
{
	
	font-size: 15px;
	margin-bottom: 50px;
	font-family: 'East Sea Dokdo';
}

#twoorig
{
	display: none;
}

.divtextone
{
	font-family: 'East Sea Dokdo'; 
	font-size:13px; 
	width: 95vw;
	text-align: justify;
}
.imgone
{
	 height:20vh;
	 width:82vw;
}
.twoalt
{
	display:block;
}

.imgtwo
{
	margin-bottom:5px;
}
.divtexttwo
{
	font-size:10px;
	font-family: 'East Sea Dokdo'; 
	text-align:justify;
	margin-bottom:35px;
}
.divtexttwohead
{
margin-top: -220px;
margin-bottom: 25px;
font-family: 'East Sea Dokdo'; 
font-size:20px;
}
.divtexttwohead h3
{
	color:white;
}
.divtexttwo p
{
	margin:12px;
}
.footerorig
{
	display:none;
}
.footeralt
{
	display : flex;
	flex-direction:column;
	font-family: 'Catamaran', sans-serif;	
	color:white;
	font-size:19px;
	
}
.mail
{
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;	
}
.img
{
	display:flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}
.follow
{
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	font-size: 20px;
}
.end
{
	display:flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	font-size: 10px;
}
.twoalt .fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 15.5px 34px 15.5px 0;
    border-color: transparent #007bff transparent transparent;
}
.twoalt .fp-controlArrow.fp-next {
    right: 15px;
    border-width: 15.5px 0 15.5px 34px;
    border-color: transparent transparent transparent #007bff;
}

}
@import url('https://fonts.googleapis.com/css?family=East+Sea+Dokdo');
@import url('https://fonts.googleapis.com/css?family=Catamaran');
</style>
</head>
<body>
<div id="actions">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <a class="navbar-brand" href="/"><img src="https://raw.githubusercontent.com/testrightexam/testrightexam.github.io/master/views/logo.png" height="50px;"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
             <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
              </li> 

            </ul>
          </div>  
      </nav>
</div>
<div id="fullpage">
<div class="section" style="background: linear-gradient(to top,white 55%,#007bff 5% )";>
          <div class="col-md-12">
		  <img src="logo_final_v1_backgroundless.png" class="imgone"/>
		  </div>
		  <br/>
		  <center>
        <div class="divtextone col-md-8">
		<div style="text-align:center; ">
        " We aim to inspire! "<br/>Triangle Corporation was established by keeping the requirments of the people in mind.
       We are fully focused and dedicated to deliver.
        <br/>
        <br/>
        With the single goal in mind, we do not just create code; we create experience. Our software suites are<span style="font-weight: bold; color:dodgerblue;"> minimilistic, innovative and ready-to-use </span>out of the box.
        </div>
		</div>
		</center>
</div>
<div class="section section1">
	
	<!--Mobile Second-->
	<div class="twoalt">
				<div class="slide" style="background: linear-gradient(to top,white 58%,#007bff 40% );">
						<div class="divtexttwohead">
								<h3>Create</h3>
						</div>
					<div class="imgtwo">
					<img src="https://www.flexiquiz.com/Images/compose.png" />
					</div>
					
					<div class="divtexttwo">
					<p style="text-align:center;" >
							Quickly create great looking tests using multiple question types and formatting options.
					</p>
					</div>
				</div>
				<div class="slide" style="background: linear-gradient(to top,white 58%,#007bff 20% );">
						<div class="divtexttwohead">
								<h3>Test</h3>
								</div>
					<div class="imgtwo">
					<img src="https://www.flexiquiz.com/Images/upload.png" />
					</div>
					
					<div class="divtexttwo">
					<p style="text-align:center;">
							Tests can either be published privately to a selected group or open
							them up to everyone with a link.
					</p>
					</div>
				</div>
				<div class="slide" style="background: linear-gradient(to top,white 58%,#007bff 20% );">
						<div class="divtexttwohead">
								<h3>Examine</h3>
								</div>
				<div class="imgtwo">
					<img src="https://www.flexiquiz.com/Images/trends.png"/>
				</div>
					
					<div class="divtexttwo">
					<p style="text-align:center;">See Your marks instantly and grades of your tests.Watch 
							your performance with depth analysis across all responses.
					</p>
					</div>
				</div>
	</div>
	<!--Desktop Second-->
	<div class="twoorig" id="twoorig" style="background: linear-gradient(to top,white 20%,#007bff 80% );">
    <div class="row">
		<div class="col-sm-4">
				<div class="divtexttwohead" >
						<h3>Create</h3>
				</div>
		<div class="imgtwo">
		<img src="https://www.flexiquiz.com/Images/compose.png" />
		</div>
		<div class="divtexttwo">
		<p style="text-align:center">Quickly create great looking tests using multiple question types and formatting options.</p>
		</div>
		</div>
		<div class="imgtwo col-sm-4">
				<div class="divtexttwohead">
						<h3>Test</h3>
						</div>
		<div class="imgtwo">
		<img src="https://www.flexiquiz.com/Images/upload.png" />
		</div>
		
		<div class="divtexttwo">
		<p style="text-align:center">Tests can either be published privately to a selected group or open
		them up to everyone with a link.</p>
		</div>
		</div>
		<div class="imgtwo col-sm-4">
				<div class="divtexttwohead">
						<h3>Examine</h3>
				</div>
		<div class="imgtwo">
		<img src="https://www.flexiquiz.com/Images/trends.png"/>
		</div>
		
		<div class="divtexttwo">
		<p style="text-align:center; ">See Your marks instantly and grades of your tests.Watch 
				your performance with depth analysis across all responses.
		</p>
		</div>
		</div>
	</div>
	</div>
	
</div>	
<div class="section"  style="background: linear-gradient(to bottom,white 60%,#007bff 40% );">

<div class="h-50">
<div class="reviews slide">
		<center>
			<div class="col-md-8" >
            <p class="mains" style="text-align: center;">
                "Test Right provides me with the insights I need for all my social channels to build robust monthly reports and optimize my social marketing."
			</p>
            <img src="https://tanwanimohit.github.io/bitly/review.png"/>
            <br/>
            <p class="name"> Joshua	Karpf</p>
			<p class="pos">Global Director, Social Marketing, Spotify</p>
			
			</div>
		</center>
		
</div>
<div class="reviews slide">
	<center>
		<div class="col-md-8" >
		<p class="mains" style="text-align: center;">
			"Test Right provides me with the insights I need for all my social channels to build robust monthly reports and optimize my social marketing."
		</p>
		<img src="https://tanwanimohit.github.io/bitly/review.png"/>
		<br/>
		<p class="name"> Joshua	Karpf</p>
		<p class="pos">Global Director, Social Marketing, Spotify</p>
		
		</div>
	</center>
	
</div>
<div class="reviews slide">
				<center>
		<div class="col-md-8">
			<p class="mains" style="text-align: center;" >
                "Test Right provides me with the insights I need for all my social channels to build robust monthly reports and optimize my social marketing."
            </p>
            <img src="https://tanwanimohit.github.io/bitly/review.png"/>
            <br/>
            <p class="name"> Joshua	Karpf</p>
			<p class="pos">Global Director, Social Marketing, Spotify</p>
			<div>	
			</div>
		</div>
		</center>
</div>

</div>
<div class="footerorig col-lg-12 mt-5 mb-5 ">
						<div class="footerstick h-25">
						<br/>
						<div style="justify-content:flex-start;font-size:30px;" class="mt-4"><i><u><b>Follow Us On</b></u></i></div>
						<div style="justify-content: flex-start;font-size:10px;" class="mb-4">
							<a class="btn btn-lg btn-primary facebook" href="https://www.facebook.com">
								<i class="fa fa-facebook-square"></i>
							</a>
							<a class="btn btn-lg btn-primary twitter" href="https://www.twitter.com">
								<i class="fa fa-twitter-square"></i>
							</a>
							<a class="btn btn-lg btn-primary linkedin" href="https://www.linkedin.com">
								<i class="fa fa-linkedin-square"></i>
							</a>
							<a class="btn btn-lg btn-primary instagram" href="https://www.instagram.com">
								<i class="fa fa-instagram"></i>
							</a>
							<a class="btn btn-lg btn-primary github" href="https://github.com/testrightexam/testrightexam.github.io">
								<i class="fa fa-github-square"></i> 
							</a>
						</div>
						<div class="col-sm-12 mb-5 mt-3">
							<i class="fa fa-phone">&nbsp;&nbsp;</i> 1213456789 &nbsp;|&nbsp;
							<i class="fa fa-envelope">&nbsp;&nbsp;</i> info@testright.com &nbsp;|&nbsp;
							<i class="fa fa-map">&nbsp;</i> Ahmedabad, Gujarat 
						</div>	
						<div  style="max-height: 40%"> 
						<div style="font-size:15px">
								&#169; 2019 TRIANGLE CORPORATION™
						</div>
						</div>
						</div>
</div>
<div style="height:10%"></div>
<div class="footeralt col-lg-12" style="height:27.5%">
<br />
				<div font-size="30px" ><i><u><b>Follow Us On</b></u></i></div>
				<div class="img col-sm-12 " >
					<a class="btn btn-small btn-primary facebook" href="https://www.facebook.com">
						<i class="fa fa-facebook-square" width="32px" height="32px"></i>
					</a>
					<a class="btn btn-small btn-primary twitter" href="https://www.twitter.com">
						<i class="fa fa-twitter-square" width="32px" height="32px"></i>
					</a>
					<a class="btn btn-small btn-primary linkedin" href="https://www.linkedin.com">
						<i class="fa fa-linkedin-square" width="32px" height="32px"></i>
					</a>
					<a class="btn btn-small btn-primary instagram" href="https://www.instagram.com">
						<i class="fa fa-instagram" width="32px" height="32px"></i>
					</a>
					<a class="btn btn-small btn-primary github" href="https://github.com/testrightexam/testrightexam.github.io">
						<i class="fa fa-github-square" width="32px" height="32px" ></i> 
					</a>
				</div>
				<br />
				<div style="height: 30%;"></div>
				<div class="col-sm-12 mail" >
					<i class="fa fa-phone px-3"></i> |
					<i class="fa fa-envelope px-3"></i>  |
					<i class="fa fa-map px-3"></i>							
				</div>	
				<div style="height: 50%;"></div>

				<div class="end">
						&#169; 2019 TRIANGLE CORPORATION™
				</div>
		
</div>
</div>


</body>
<script>
$(document).ready(function(){
	$(document).keydown(function(event) {
	    	    if (event.ctrlKey==true && (event.which == '61' || event.which == '107' || event.which == '173' || event.which == '109'  || event.which == '187'  || event.which == '189'  ) ) {
         
		event.preventDefault();
	
	     }
	});

	$(window).bind('mousewheel DOMMouseScroll', function (event) {
	       if (event.ctrlKey == true) {
           
		   event.preventDefault();
	       }
	});
	
	if ('serviceWorker' in navigator) {
		console.log("Will the service worker register?");
		navigator.serviceWorker.register('service-worker.js')
		  .then(function(reg){
			console.log("Yes, it did.");
		 }).catch(function(err) {
			console.log("No it didn't. This happened:", err)
		});
		self.addEventListener('fetch', function(event) {});
		
	}
	
});
</script>
</html>