<!DOCTYPE html>
<html>
    <head>
        <title>Login Portal</title>
		
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	
        <!--Custom css -->
        <link rel="stylesheet" href="assets/css/style.css">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        
        <!--Font awesome icons-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
		
    </head>
    <body>
	
	<!--Navigation bar-->
      <nav class="navbar navbar-expand-sm bg-primary navbar-dark " >
        <a class="navbar-brand" href="/"><img src="logo.png" height="50px;"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/login" >Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li> 
 			  
            </ul>
          </div>  
      </nav>

        <center style="color:#007bff; font-size: 6vh; font-style:bold; font-family: 'Product Sans';  margin-top:20px; ">Login</center>
            
              <div class="container col-sm-6">
                <br>
                <!-- Nav pills -->
                <ul class="nav nav-pills nav-justified" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#home">Examiner</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#menu1">Student</a>
            </li>
			
          </ul>
              
                <!-- Tab panes -->
                <div class="tab-content">
                  <div id="home" class="container tab-pane active"><br/>
                    <form action="LoginExaminer" method="post">
						<div class="form-group">
						  <label for="email">Email</label>
						  <input type="email" name="ExmUsrEmail" class="form-control" id="usremail" placeholder="Email" required>
						</div>
						<div class="form-group">
						  <label for="name">Password</label>
						  <input type="password" name="ExmUsrPass" class="form-control" id="usrpass" placeholder="Password" required>
						</div>
						<input type="submit" class="btn btn-primary btn-block" value="Login"/> 
                    </form> 
                   <br>
                  </div>
                  <div id="menu1" class="container tab-pane fade"><br/>
                    <form action="LoginStudent" method="post">
						<div class="form-group">
						  <label for="email">Email</label>
						  <input type="email" name="StdUsrEmail" class="form-control" id="usremail" placeholder="Email" required>
						</div>
						<div class="form-group">
						  <label for="name">Password</label>
						  <input type="password" name="StdUsrPass" class="form-control" id="usrpass" placeholder="Password" required>
						</div>
						<input type="submit" class="btn btn-primary btn-block" value="Login"/> 
                  </form>
                  <br> 
                  </div>
				  	<div class="text-center" style="font-size:22px;">New To Test Right ? <a href="register ">Click Here To Register</a></div>
					
                  </div>
                </div>
    </body>
    </html>