<!DOCTYPE html>
<html lang="en">
<head>
  <title>Privacy Policy-TestRight</title>
  <meta charset="utf-8">
  <link rel="icon" sizes="192x192" href="https://raw.githubusercontent.com/testrightexam/testrightexam.github.io/master/views/icon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Custom css -->
  <link rel="stylesheet" href="assets/css/style.css">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  
  <!--Font awesome icons-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
<style>
    body 
    {
        background-color: #077bff;
    }
</style>
</head>
<body>
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <a class="navbar-brand" href="/"><img src="https://raw.githubusercontent.com/testrightexam/testrightexam.github.io/master/views/logo.png" height="50px;"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
             <ul class="navbar-nav">
              <li class="nav-item ">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
              </li> 
            </ul>
			<ul class="navbar-nav ml-auto">
			<li class="nav-item">
			<a class="nav-link" href="/termsandconditions.html" >Terms and Conditions</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="/privacypolicy.html" >Privacy Policy</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="/contactus" >Contact Us</a>
			</li>
			</ul>
          </div>  
      </nav>
            
<center>
<div class="col-lg-9 col-sm-9 mb-5 col-md-9">
<div class="card text-center mt-5 ">
  <div class="card-header">
    <h4 style="color:gray">Privacy Policy</h4>
  </div>
  <div class="card-body">
    <p class="card-text">
      <ol style="text-align: left;"><li><b>Personal Data.</b> </li>
      <ul  style="text-align: justify;">
        <li>
            While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Personal Data"). Personally identifiable information may include, but is not limited to:
            <ul style="text-align: justify;">
              <li>Email address</li>
              <li>  First name and last name</li>
              <li>Address, State, Province, ZIP/Postal code, City. </li>
              <li> Cookies and Usage Data. </li>
              </ul>
        </li>
      </ul>
      <br/>
      <li><b>Data Usage.</b></li>
      <ul style="text-align: justify;">
        <li>We may also collect information how the Service is accessed and used ("Usage Data"). 
          This Usage Data may include information such as your computer's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that you visit, the time and date of your visit, 
          the time spent on those pages, unique device identifiers and other diagnostic data.
        </li>
      </ul>
      <br/>
      <li><b>Tracking Cookies Data</b></li>
      <ul style="text-align: justify;">
          <li>Session Cookies. We use Session Cookies to operate our Service.</li>
          <li>Preference Cookies. We use Preference Cookies to remember your preferences and various settings.</li>
          <li>Security Cookies. We use Security Cookies for security purposes.</li>
      </ul>
      <br/>
      <li><b>Transfer Of Data</b></li>
      <ul style="text-align: justify;">
          <li>Your information, including Personal Data, may be transferred to, and maintained on, computers located outside of your state, province, country or other 
            governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.</li>
      </ul>
      <br/>
      <li><b>Legal Requirements</b></li>
      <ul style="text-align: justify;">
      <li>To comply with a legal obligation.</li>
      <li>To protect and defend the rights or property of Triangle Corporation.</li>
      <li>To prevent or investigate possible wrongdoing in connection with the Service</li>
      <li>To protect the personal safety of users of the Service or the public</li>
      </ul>
      </ol>
   </p>
    <a href="/" class="btn btn-primary">Back To Home Page</a>
  </div>
  <div class="card-footer text-muted">
    <h4>TextRight-Exam Tools</h4>
  </div>

</div></div>
</center>
</body>
</html>