<!DOCTYPE html>
<html lang="en">
<head>
  <title>Read Carefully :) </title>
  <meta charset="utf-8">
  <link rel="icon" sizes="192x192" href="https://raw.githubusercontent.com/testrightexam/testrightexam.github.io/master/views/icon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Custom css -->
  <link rel="stylesheet" href="assets/css/style.css">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  
  <!--Font awesome icons-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
<style>
    body 
    {
        background-color: #077bff;
    }
</style>
</head>
<body>
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
                <a class="navbar-brand" href="/"><img src="logo.png" height="50px;"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                  <span class="navbar-toggler-icon"></span>
                </button>
                  <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                      </li> 
        
                    </ul>
                  </div>  
        </nav>
        <center><div class="col-lg-9 col-sm-9 col-md-9"><div class="card text-center mt-5">
            <div class="card-header">
              <h4 style="color:gray">Test Instructions</h4>
            </div>
            <div class="card-body">
            <p class="card-text">
                <ul class="text-justify">
                    <li>This Test Contains Multiple Choice Questions with options.</li>
                    <li>Select the appropriate answer according to question.</li>
                    <li>There is a timer on the upper right side which shows the time remainaing for the test.</li>
                    <li>Once the time is over, test will be subbmited automatically.</li>
                    <li>People indulging in bad behaviour will be disqualified from the test process.</li>
                    <li>Refreshing the page will submit your test automatically. </li>
                </ul>
                <br/>
                <button type="button" class="btn btn-primary pl-5 pr-5 text font-weight-bold">Start Test</button>
            </p>
            </div>
            <div class="card-footer text-muted">
              <h4>TextRight-Exam Tools</h4>
            </div>
          </div></div></center>
</body>
</html>