<!DOCTYPE html>
<html lang="en">
<head>
  <title>Terms and Conditions-TestRight</title>
  <meta charset="utf-8">
  <link rel="icon" sizes="192x192" href="https://raw.githubusercontent.com/testrightexam/testrightexam.github.io/master/views/icon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Custom css -->
  <link rel="stylesheet" href="assets/css/style.css">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  
  <!--Font awesome icons-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
<style>
    body 
    {
        background-color: #077bff;
    }
</style>
</head>
<body class="col-lg-9 col-sm-9 col-md-9">
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
                <a class="navbar-brand" href="/"><img src="logo.png" height="50px;"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                  <span class="navbar-toggler-icon"></span>
                </button>
                  <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                      </li> 
        
                    </ul>
                  </div>  
</nav>
              <center><div class="card text-center mt-5">
                    <div class="card-header">
                      <h4 style="color:gray">Terms And Conditions</h4>
                    </div>
                    <div class="card-body">
                      <p class="card-text">
                        <ol style="text-align: left;"><li><b>License to use website</b> </li>
                        <ul  style="text-align: justify;">
                          <li>
                                You must not:
                                <ul style="text-align: justify;">
                                <li>republish material from this website (including republication on another website);</li>
                                <li>sell, rent or sub-license material from the website;</li>
                                <li>reproduce, duplicate, copy or otherwise exploit material on this website for a commercial purpose;</li>
                                </ul>
                          </li>
                        </ul>
                        <br/>
                        <li><b>Acceptable use.</b></li>
                        <ul style="text-align: justify;">
                          <li>You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.
                                You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.
                                You must not use this website to transmit or send unsolicited commercial communications.
                          </li>
                        </ul>
                        <br/>
                        <li><b>Restricted access</b></li>
                        <ul style="text-align: justify;">
                            <li>Access to certain areas of this website is restricted. nextSpark reserves the right to restrict access to other areas of this website, or indeed this entire website, at nextSpark's discretion.
                                    If nextSpark provides you with a user ID and password to enable you to access restricted areas of this website or other content or services, you must ensure that the user ID and password are kept confidential.
                                    nextSpark may disable your user ID and password in nextSpark's sole discretion without notice or explanation</li>
                           
                        </ul>
                        <br/>
                        <li><b>No warranties </b></li>
                        <ul style="text-align: justify;">
                            <li>this website will be constantly available, or available at all; or.</li>
                            <li>the information on this website is complete, true, accurate or non-misleading.</li>
                        </ul>
                        <br/>
                        <li><b>Reasonableness</b></li>
                        <ul style="text-align: justify;">
                        <li>By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable.</li>
                        </ul>
                        </ol>
                     </p>
                      <a href="/" class="btn btn-primary">Back To Home Page</a>
                    </div>
                    <div class="card-footer text-muted">
                      <h4>TextRight-Exam Tools</h4>
                    </div>
                  </div></center>
</body>
</html>