<!DOCTYPE html>
<html>

<head>
    	<!--Navigation bar-->
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark " >
    <a class="navbar-brand" href="/"><img src="https://raw.githubusercontent.com/testrightexam/testrightexam.github.io/master/views/logo.png" height="50px;"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/logout" >Logout</a>
          </li>
        </ul>
      </div>  
  </nav>
    <title>Create Your Test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css"
        rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
    <!--Custom css -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="tags/tagsinput.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="tags/tagsinput.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>


    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>
	
    <div class="container" style="margin-top:4vh;">
        <div class="row" style="margin-left:0px; margin-right:0px;">
            <div class="col-s-12">
                <h1>Enter Test Details</h1>
                <h3>Please enter the details of your test in the following fields.</h3>
                <br>
                <form action="TestCreate" method="post">
                    <div class="form-group">
                        <label for="TestTitle">
                            <h5>Test Title</h5>
                        </label>
                        <input type="text" class="form-control" id="TestTitle" name="TestTitle" required/>
                    </div>
                    <div class="form-group">
                        <label for="TestSubject">
                            <h5>Test Subject</h5>
                        </label>
                        <input type="text" class="form-control" id="TestSubject" name="TestSubject" required/>
                    </div>
                    <div class="form-group">
                        <label for="TestType">
                            <h5>Test Type</h5>
                        </label>
                        <div class="radio">
                            <label>
                                <input type="radio" value="Open" name="TestType" checked> Open </label>
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" value="Close" name="TestType"> Close </label>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="TestTags">
                            <h5>Test Tags</h5>
                        </label>
                        <input type="text" class="form-control" id="TestTags"  name="TestTags" data-role="tagsinput" />
                    </div>
                    <div class="form-group">
                        <label for="TestDate">
                            <h5>Test Date</h5>
                        </label>
                        <input type="date" class="form-control" id="TestDate" name="TestDate" required/>
                    </div>
                    <div class="form-group">
                        <label for="TestTime">
                            <h5>Test Time</h5>
                        </label>
                        <input type="time" class="form-control" id="TestTime" name="TestTime" required/>
                    </div>
                    <div class="form-group">
                        <label for="TestDuration">
                            <h5>Test Duration (in minutes)</h5>
                        </label>
                        <input type="text" class="form-control" id="TestDuration" name="TestDuration"  required/>
                    </div>
                    <div class="form-group">
                        <input type="submit" id="testsubmit" class="btn btn-primary" width="100%" value="Next">
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>